/nbproject/private/
/comportamientos/build/
/comportamientos/nbproject/private/
/JADE 2/build/
/JADE 2/nbproject/private/
/JADE 2/dist/
/JADE 2 - copia/build/
/JADE 2 - copia/nbproject/private/
/Tarea2/build/
/Tarea2/dist/